.landffd{
   display: flex;
   flex-direction: column; 
   overflow-y: scroll; 
   scroll-snap-type: y mandatory; 
   height: 100vh; 
}

.landsector1{
    flex: 0 0 100vh; 
    height: 100vh;
    scroll-snap-align: start;
}

.landsector2{
    flex: 0 0 100%; 
    height: 100vh;
    scroll-snap-align: start;
}

.landsector3{
    flex: 0 0 100%; 
    height: 100vh;
    scroll-snap-align: start;
    background-color:grey;
    color: aliceblue;
}

.landsector4{
    flex: 0 0 100%; 
    height: 100vh;
    scroll-snap-align: start;
}

.listyle{
    font-weight: 100;
    text-decoration: none; font-weight: 600;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color: black;
  }

#vermin{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }