.landsector3{
    flex: 0 0 100%; 
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(90deg, black,grey);
    color: aliceblue;
}

#yg4top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70vh;
  }

  #yg4bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
  }

  #yg4left{
    width: 40%;
  }

  #yg4right{
   width: 40%;
  }

  #eduic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;

  }

  #edudiv{
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.5);
  }

  #eduspn{
    margin: 10px;
  }

  #eduyr{
    margin-left: 10px;
    color: gold;
  }

  #ygbtm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
  }

  #ygbticon{
    margin-top: -7px;
    align-self: center;
  }

  #animelk{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    box-shadow:  0 10px 20px rgb(0, 0, 0, 0.5) ;
    transition: 1s ease-in-out;
    width: 70%;
    height: 10%;
    margin-bottom: 32px;
  }

  #animeclick{
    font-size: large;
    margin: 10px;
    margin-left: 50px;
  }

  #swapswap{
    text-decoration: none;
    color: white;
  }