.fswapdiv{
   display: flex;
   justify-content: center;
}

.sswapdiv{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-top: 7%;
    border: 2px solid black;
}

.ssffdiv1{
    width: 250px;
    height: 500px;
   ;
}

.ssffdiv2{
    width: 250px;
    height: 500px;
    border: 2px solid green;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}