.fswapdiv{
   display: flex;
   justify-content: center;
}

.sswapdiv{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin-top: 7%;
    border: 2px solid black;
}

.ssffdiv1{
    width: 250px;
    height: 500px;
    left: 0;
    transition: transform 2s;
}

.ssffdiv2{
    width: 250px;
    height: 500px;
    border: 2px solid green;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    right: 0;
    transition: transform 2s;
}

.swapped.ssffdiv1{
    transform: translateX(100%);
}

.swapped.ssffdiv2{
    transform: translateX(-100%);
}

.swapbtz{
    transform: translateX(-50%);
}

.ssffdiv4{
    width: 250px;
    height: 500px;
    left: 0;
    border: 2px solid green;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: transform 2s;
}

.ssffdiv3{
    width: 250px;
    height: 500px;
    right: 0;
    transition: transform 2s;
}

.swapped.ssffdiv3{
    transform: translateX(100%);
}

.swapped.ssffdiv4{
    transform: translateX(-100%);
}